<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Formulario</h4>
                      <p class="card-category">Completa el formulario para pedir el material</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Carrera">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fecha de salida" type="date">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fecha de entrada" type="date">
                                </mat-form-field>
                              </div>

                              <div class="col-md-6">
                                <mat-form-field class="example-full-width"type= "time">
                                  <input matInput placeholder="Hora de entrada" type="time">
                                </mat-form-field>
                              </div>

                              <div class="col-md-6">
                                <mat-form-field class="example-full-width"type= "time">
                                  <input matInput placeholder="Hora de salida" type="time">
                                </mat-form-field>
                              </div>
                          </div>
                          
                              
                          
                          
                           
                        

                          
                          
                          
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Pedir material</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      
                  </div>
                 
              </div>
          </div>
      </div>
  </div>
</div>
